#canvas1{
    position: absolute;
    background-attachment: fixed;
    bottom: 0;
    background-color: black;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(17, 255, 0);
    border-bottom: 0;
}
body{
    background-color: black;
}
#player{
    visibility: hidden;
}
#Hd{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 15px;
    height: 50px;
    width: 100%;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 3px;
    border-color: rgb(17, 255, 0);
    color:rgb(17, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    
}

#textInput{
    position: absolute;
    z-index: 1;
    width: 20%;
    height: 5%;
    top: 20%;
    left: 40%;
    visibility: hidden;
    background: none;
    color: rgb(17, 255, 0);
    text-align: center;
    background-color: black;
    text-transform: capitalize;
    /* hsl(60, 100%, 50%) */
    border-style: solid;
    border-color: rgb(17, 255, 0);
}

#enterButton{
    width: 6%;
    height: 5%;
    top: 27%;
    left: 54%;
    text-align: center;
    color: rgb(17, 255, 0);
    background-color: black;
    text-transform: capitalize;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(17, 255, 0);
}
#enterButton:hover{
    background-color: rgb(17, 255, 0);
    color: black;
}

#playAgainButton{
    width: 10%;
    height: 5%;
    top: 59%;
    left: 45%;
    border-style: solid;
    border-color: rgb(17, 255, 0);
}

#startGameButton{
    width: 10%;
    height: 5%;
    top: 59%;
    left: 45%;
    border-style: solid;
    border-color: rgb(17, 255, 0);
}

button{
    background-attachment: fixed;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    color: rgb(17, 255, 0);
    font-size: 20px;
    background: none;
}

input::placeholder{
    color: rgb(17, 255, 0)
}

button:hover{
    background-color: rgb(17, 255, 0);
    color: black;
}

#leaderboards{
    position: absolute;
    background-attachment: fixed;
    top: 90px;
    right: 50px;
    margin: none;
    background: none;
    border: none;
    color: rgb(17, 255, 0);
    font-size: 20px;
    box-sizing: border-box;
}

#toptitle{
    background-color: black;
    color: rgb(17, 255, 0);
    margin: 0;
    border-color: rgb(17, 255, 0);
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(17, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#leaderboards>pre{
    position: local;
    background-attachment: fixed;
    color: rgb(17, 255, 0);
    font-size: small;
    font-size: 12px;
    background-color: black;
    text-align: justify;
    line-height: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(17, 255, 0);
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    overflow: hidden;
}

#topcon{
    text-align: center;
    margin: 0;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(17, 255, 0);
    box-sizing: border-box;
}

pre{
    margin: 0;
    background-color: black;
    text-transform: capitalize;
    bottom: 0;
}

/* 
#leaderboards>button{
    top: 10px;
    width: 23%;
    height: 5%;
    visibility: visible;
    background-attachment: fixed;
} */

/* SIDEBAR */
*{
    margin: 0;
    padding: 0;
  
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
    position: absolute;
    padding-top: 20px;
    position: fixed;
    left: 0;
    width: 200px;
    height: 250px;
    background-color: black;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 70px;
    font-size: 25px;
    color: rgb(17, 255, 0);
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(17, 255, 0);
    border-width: 2px;
    padding-left: 20px;
}

.sidebar ul a:hover{
    background-color: rgb(17, 255, 0);
    color: black;
}
/* SIDEBAR */
img{
    visibility: hidden;
    position: absolute;
}

#boss{
    position: fixed;
}